<!DOCTYPE html>

<html lang="en">


    <body>

        <table style="width:100%">
            <tr>
              <th>Ticker</th>
              <th>Company</th>
              <th>Sector</th>
              <th>Industry</th>
              <th>Market Cap</th>
              <th>Price</th>
              <th>P/E</th>
              <th>Dividend Rate</th>
              <th>Analyst Recommendation</th>

            </tr>

            <tr>
                {% for tick in Tickers %}
        
                <td> {{ tick }} </td>

                {% endfor %}
            </tr>
            
            <tr>
                {% for c in companyName %}
        
                <td>  {{ c }} </td>

                {% endfor %}
            </tr>

            <tr>
                {% for s in Sectors %}
        
                <td>  {{ s }} </td>

                {% endfor %}
            </tr>

            <tr>
                {% for I in Industry %}
        
                <p>  {{ I }} </p>

                {% endfor %}
            </tr>
            <tr>
                <th>Market Cap</th>
                {% for m in marketCap %}
        
                <td>  {{ m }} </td>

                {% endfor %}
            </tr>
            <tr>
                <th>Price</th>
                {% for p in Price %}
        
                <td>  {{ p }} </td>

                {% endfor %}
            </tr>
            <tr>
                <th>P/E</th>
                {% for e in PE %}
        
                <td>  {{ e }} </td>

                {% endfor %}
            </tr>
            <tr>
                <th>Dividend Rate</th>
                {% for b in Dividend %}
        
                <td>  {{ b }} </td>

                {% endfor %}
            </tr>
            <tr>
                <th>Analyst Recommendation</th>
                {% for r in recommend %}
        
                <td>  {{ r }} </td>

                {% endfor %}
            </tr>


        </table>

    </body>

</html>