body {
    background-image: url("pageBackground.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/* ------------------------------------------------------------------------------------------- */
/* Top part with page header */

.header h1{
    text-align: center;
    margin: 2%;
    background-image: url("headerBackground.jpg");
    color: rgb(227, 223, 223);
    padding: 20px;
    border-radius: 25px;
    border: 2px solid black;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 40px;
}

/* ------------------------------------------------------------------------------------------- */
/* Second block of text on the home page, instructions for the user */

.guide {
    background-color: #00b4b4;
    margin: 2%;
    padding: 10px;
    border-radius: 25px;
    border: 2px solid black;
    font-family:sans-serif;
}

/* ------------------------------------------------------------------------------------------- */
/* Grid container for the MIN/MAX screening options */

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    padding: 10px;
    gap: 10px;
}

.entryOption {
    padding: 20px;
    text-align: center;
    background-color: lightblue;
    border-radius: 25px;
    border: 2px solid black;
}

.entryOption:hover {
    background-color: rgb(204, 242, 255);
    border-radius: 25px;
    border: 2px solid black;
    padding-bottom: 15px;
}

/* ------------------------------------------------------------------------------------------- */
/* Part where we get the user's preferences to screen for */

form {
    margin-left: 1%;
    margin-right: 1%;
    font-size: 16px;
    font-family:sans-serif;
}

/* First 4 questions */
form h4 {
    font-size: 18px;
    font-weight: bold;
}

/* MIN/MAX questions */
.subtitle {
    text-decoration: underline;
    font-size: 18px;
    font-weight: bold;
}

input[type=text] {
    width: 80px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }

/* Buttons at the bottom */
#submit {
    background-color: #4CAF50;
    color: white;
    padding: 12px;
    margin: 10px 0;
    border: none;
    width: 100%;
    border-radius: 3px;
    cursor: pointer;
    font-size: 17px;
}

#submit:hover {
    background-color: #3f9342;
}

#loadResults {
    background-color: #132bff;
    color: white;
    padding: 12px;
    margin: 10px 0;
    border: none;
    width: 100%;
    border-radius: 3px;
    cursor: pointer;
    font-size: 17px;
}

#loadResults:hover {
    background-color: #0e1da3;
}

/* ------------------------------------------------------------------------------------------- */
/* Disclaimer at the bottom of the page */
.footer {
    margin: 8%;
    background-color: #131a5e;
    color: lightgray;
    padding: 10px;
    border-radius: 25px;
    border: 2px solid black;
    font-style: italic;
    font-family:Arial, Helvetica, sans-serif;
}
