<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <title>Fundamental Stock Screener</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css">
    <link rel="icon" type="image/x-icon" href="/static/css/favicon.png">
</head>

<body>
    <!-- Top Section -->
    <div class="header">
        <h1>FUNDAMENTAL STOCK SCREENER</h1>
    </div>

    <!-- User Guide -->
    <div class="guide">
        <p>
            To screen for stocks that meet your preferences enter them below. It is required to
            choose an index or exchange to screen from but all other categories are optional.
            If left empty it will not be filtered against.
        </p>
        <p>
            All percentages must be expressed as decimals. If you want something like earnings
            growth of 0.10 or greater, simply fill in the Minimum while leaving the Maximum empty
            and the opposite for anything less than.
        </p>
        <p>
            If you would like to choose a specific industry, ensure you choose the matching sector
            and ONLY choose an industry from that sector.
        </p>
    </div>

    <!-- Get preferences -->
    <form type="post" id="myform">
        
        <h4>
            <label for="indexOrExchange">Index or Exchange<span style="color: red;">*</span>: </label>
            <select name="indexOrExchange">
                <option value="DOW">DOW</option>
                <option value="SP500">S&P 500</option>
                <option value="NASDAQ">NASDAQ</option>
                <option value="NYSE">NYSE</option>
                <option value="ALL">ALL</option>
            </select>

            <br>
            <br>

            <label for="sector">Sector: </label>
            <select name="sector">
                <option value=""></option>
                <option value="Basic Materials">Basic Materials</option>
                <option value="Consumer Cyclical">Consumer Cyclical</option>
                <option value="Consumer Defensive">Consumer Defensive</option>
                <option value="Communication Services">Communication Services</option>
                <option value="Energy">Energy</option>
                <option value="Financial Services">Financial Services</option>
                <option value="Healthcare">Healthcare</option>
                <option value="Industrials">Industrials</option>
                <option value="Real Estate">Real Estate</option>
                <option value="Technology">Technology</option>
                <option value="Utilities">Utilities</option>
            </select>

            <br>
            <br>

            <h4>Industry: </h4>

            <p>

            <label for="industry">Basic Materials: </label>
            <select name="industry">
                <option value=""></option>
                <option value="Agricultural Inputs">Agricultural Inputs</option>
                <option value="Aluminum">Aluminum</option>
                <option value="Building Materials">Building Materials</option>
                <option value="Chemicals">Chemicals</option>
                <option value="Coking Coal">Coking Coal</option>
                <option value="Copper">Copper</option>
                <option value="Gold">Gold</option>
                <option value="Lumber & Wood Production">Lumber & Wood Production</option>
                <option value="Other Industrial Metals & Mining">Other Industrial Metals & Mining</option>
                <option value="Other Precious Metals & Mining">Other Precious Metals & Mining</option>
                <option value="Paper & Paper Products">Paper & Paper Products</option>
                <option value="Silver">Silver</option>
                <option value="Specialty Chemicals">Specialty Chemicals</option>
                <option value="Steel">Steel</option>
            </select>
            <br>
            <label for="industry">Consumer Cyclical: </label>
            <select name="industry">
                <option value=""></option>
                <option value="Auto & Truck Dealerships">Auto & Truck Dealerships</option>
                <option value="Auto Parts">Auto Parts</option>
                <option value="Auto Manufacturers">Auto Manufacturers</option>
                <option value="Apparel Manufacturing">Apparel Manufacturing</option>
                <option value="Apparel Retail">Apparel Retail</option>
                <option value="Department Stores">Department Stores</option>
                <option value="Furnishing, Fixtures & Appliances">Furnishing, Fixtures & Appliances</option>
                <option value="Footwear & Accessories">Footwear & Accessories</option>
                <option value="Gambling">Gambling</option>
                <option value="Home Improvement Retail">Home Improvement Retail</option>
                <option value="Internet Retail">Internet Retail</option>
                <option value="Lodging">Lodging</option>
                <option value="Luxury Goods">Luxury Goods</option>
                <option value="Leisure">Leisure</option>
                <option value="Packaging & Containers">Packaging & Containers</option>
                <option value="Personal Services">Personal Services</option>
                <option value="Recreational Vehicles">Recreational Vehicles</option>
                <option value="Residential Construction">Residential Construction</option>
                <option value="Resorts & Casinos">Resorts & Casinos</option>
                <option value="Restaurants">Restaurants</option>
                <option value="Specialty Retail">Specialty Retail</option>
                <option value="Textile Manufacturing">Textile Manufacturing</option>
                <option value="Travel Services">Travel Services</option>
            </select>
            <br>
            <label for="industry">Consumer Defensive: </label>
            <select name="industry">
                <option value=""></option>
                <option value="Beverages—Brewers">Beverages—Brewers</option>
                <option value="Beverages—Non-Alcoholic">Beverages—Non-Alcoholic</option>
                <option value="Beverages—Wineries & Distilleries">Beverages—Wineries & Distilleries</option>
                <option value="Confectioners">Confectioners</option>
                <option value="Discount Stores">Discount Stores</option>
                <option value="Education & Training Services">Education & Training Services</option>
                <option value="Farm Products">Farm Products</option>
                <option value="Food Distribution">Food Distribution</option>
                <option value="Grocery Stores">Grocery Stores</option>
                <option value="Household & Personal Products">Household & Personal Products</option>
                <option value="Packaged Foods">Packaged Foods</option>
                <option value="Tobacco">Tobacco</option>
            </select>
            <br>
            <label for="industry">Communication Services: </label>
            <select name="industry">
                <option value=""></option>
                <option value="Advertising Agencies">Advertising Agencies</option>
                <option value="Broadcasting">Broadcasting</option>
                <option value="Electronic Gaming & Multimedia">Electronic Gaming & Multimedia</option>
                <option value="Entertainment">Entertainment</option>
                <option value="Internet Content & Information">Internet Content & Information</option>
                <option value="Publishing">Publishing</option>
                <option value="Telecom Services">Telecom Services</option>
            </select>
            <br>
            <label for="industry">Energy: </label>
            <select name="industry">
                <option value=""></option>
                <option value="Oil & Gas Drilling">Oil & Gas Drilling</option>
                <option value="Oil & Gas E&P">Oil & Gas E&P</option>
                <option value="Oil & Gas Equiptment & Services">Oil & Gas Equiptment & Services</option>
                <option value="Oil & Gas Integrated">Oil & Gas Integrated</option>
                <option value="Oil & Gas Midstream">Oil & Gas Midstream</option>
                <option value="Oil & Gas Refining & Marketing">Oil & Gas Refining & Marketing</option>
                <option value="Thermal Coal">Thermal Coal</option>
                <option value="Uranium">Uranium</option>
            </select>
            <br>
            <label for="industry">Financial Services: </label>
            <select name="industry">
                <option value=""></option>
                <option value="Asset Management">Asset Management</option>
                <option value="Banks—Diversified">Banks—Diversified</option>
                <option value="Banks—Regional">Banks—Regional</option>
                <option value="Capital Markets">Capital Markets</option>
                <option value="Credit Services">Credit Services</option>
                <option value="Financial Data & Stock Exchanges">Financial Data & Stock Exchanges</option>
                <option value="Financial Conglomerates">Financial Conglomerates</option>
                <option value="Insurance Brokers">Insurance Brokers</option>
                <option value="Insurance—Diversified">Insurance—Diversified</option>
                <option value="Insurance—Life">Insurance—Life</option>
                <option value="Insurance—Property & Casualty">Insurance—Property & Casualty</option>
                <option value="Insurance—Reinsurance">Insurance—Reinsurance</option>
                <option value="Insurance—Specialty">Insurance—Specialty</option>
                <option value="Mortgage Finance">Mortgage Finance</option>
                <option value="Shell Companies">Shell Companies</option>
            </select>
            <br>
            <label for="industry">Healthcare: </label>
            <select name="industry">
                <option value=""></option>
                <option value="Biotechnology">Biotechnology</option>
                <option value="Diagnostics & Research">Diagnostics & Research</option>
                <option value="Drug Manufacturers—General">Drug Manufacturers—General</option>
                <option value="Drug Manufacturers—Specialty & Generic">Drug Manufacturers—Specialty & Generic</option>
                <option value="Healthcare Plans">Healthcare Plans</option>
                <option value="Health Information Services">Health Information Services</option>
                <option value="Medical Care Facilties">Medical Care Facilties</option>
                <option value="Medical Devices">Medical Devices</option>
                <option value="Medical Distribution">Medical Distribution</option>
                <option value="Medical Instruments & Supplies">Medical Instruments & Supplies</option>
                <option value="Pharmaceutical Retailers">Pharmaceutical Retailers</option>
            </select>
            <br>
            <label for="industry">Industrials: </label>
            <select name="industry">
                <option value=""></option>
                <option value="Aerospace & Defensive">Aerospace & Defensive</option>
                <option value="Airports & Air Services">Airports & Air Services</option>
                <option value="Airlines">Airlines</option>
                <option value="Building Products & Equiptment">Building Products & Equiptment</option>
                <option value="Business Equiptment & Supplies">Business Equiptment & Supplies</option>
                <option value="Conglomerates">Conglomerates</option>
                <option value="Consulting Services">Consulting Services</option>
                <option value="Electrical Equiptment & Parts">Electrical Equiptment & Parts</option>
                <option value="Engineering & Construction">Engineering & Construction</option>
                <option value="Farm & Heavy Construction Machinery">Farm & Heavy Construction Machinery</option>
                <option value="Industrial Distribution">Industrial Distribution</option>
                <option value="Infrastructure Operations">Infrastructure Operations</option>
                <option value="Integrated Freight & Logistics">Integrated Freight & Logistics</option>
                <option value="Security & Protection Services">Security & Protection Services</option>
                <option value="Marine Shipping">Marine Shipping</option>
                <option value="Metal Fabrication">Metal Fabrication</option>
                <option value="Pollution & Treatment Controls">Pollution & Treatment Controls</option>
                <option value="Railroads">Railroads</option>
                <option value="Rental & Leasing Services">Rental & Leasing Services</option>
                <option value="Specialty Business Services">Specialty Business Services</option>
                <option value="Specialty Industrial Machinery">Specialty Industrial Machinery</option>
                <option value="Staffing & Employment Services">Staffing & Employment Services</option>
                <option value="Tools & Accessories">Tools & Accessories</option>
                <option value="Trucking">Trucking</option>
                <option value="Waste Management">Waste Management</option>
            </select>
            <br>
            <label for="industry">Real Estate: </label>
            <select name="industry">
                <option value=""></option>
                <option value="Real Estate—Development">Real Estate—Development</option>
                <option value="Real Estate—Diversified">Real Estate—Diversified</option>
                <option value="Real Estate Services">Real Estate Services</option>
                <option value="REIT-Diversified">REIT-Diversified</option>
                <option value="REIT—Healthcare Facilities">REIT—Healthcare Facilities</option>
                <option value="REIT-Hotel & Motel">REIT-Hotel & Motel</option>
                <option value="REIT-Industrial">REIT-Industrial</option>
                <option value="REIT-Mortgage">REIT-Mortgage</option>
                <option value="REIT-Office">REIT-Office</option>
                <option value="REIT-Retail">REIT-Retail</option>
                <option value="REIT-Residential">REIT-Residential</option>
                <option value="REIT-Specialty">REIT-Specialty</option>
            </select>
            <br>
            <label for="industry">Technology: </label>
            <select name="industry">
                <option value=""></option>
                <option value="Communication Equiptment">Communication Equiptment</option>
                <option value="Computer Hardware">Computer Hardware</option>
                <option value="Consumer Electronics">Consumer Electronics</option>
                <option value="Electronic Components">Electronic Components</option>
                <option value="Electronics & Computer Distribution">Electronics & Computer Distribution</option>
                <option value="Information Technology Services">Information Technology Services</option>
                <option value="Scientific & Technical Instruments">Scientific & Technical Instruments</option>
                <option value="Semiconductors">Semiconductors</option>
                <option value="Semiconductor Equipment & Materials">Semiconductor Equipment & Materials</option>
                <option value="Software-Application">Software-Application</option>
                <option value="Software-Infrastructure">Software-Infrastructure</option>
                <option value="Solar">Solar</option>
            </select>
            <br>
            <label for="industry">Utilities: </label>
            <select name="industry">
                <option value=""></option>
                <option value="Utilities—Diversified">Utilities—Diversified</option>
                <option value="Utilities—Independent Power Producers">Utilities—Independent Power Producers</option>
                <option value="Utilities—Regulated Electric">Utilities—Regulated Electric</option>
                <option value="Utilities—Regulated Gas">Utilities—Regulated Gas</option>
                <option value="Utilities—Regulated Water">Utilities—Regulated Water</option>
                <option value="Utilities—Renewable">Utilities—Renewable</option>
            </select>

            </p>

            <h4>
            <label for="marketCap">Market Cap: </label>
            <select name="marketCap">
                <option value=""></option>
                <option value="smallCap">Small Cap</option>
                <option value="midCap">Mid Cap</option>
                <option value="largeCap">Large Cap</option>
                <option value="megaCap">Mega Cap</option>
            </select>
        </h4>

        <br>

        <div class="grid-container">
        <div class="entryOption">
            <h4 class="subtitle">Dividend Yield</h4>
            <label for="dividendYieldMin">Minimum: </label>
            <input type="text" name="dividendYieldMin">
            <label for="dividendYieldMax">Maximum: </label>
            <input type="text" name="dividendYieldMax">
        </div>

        <div class="entryOption">
            <h4 class="subtitle">Payout Ratio</h4>
            <label for="payoutRatioMin">Minimum: </label>
            <input type="text" name="payoutRatioMin">
            <label for="payoutRatioMax">Maximum: </label>
            <input type="text" name="payoutRatioMax">
        </div>

        <div class="entryOption">
            <h4 class="subtitle">Price/Earnings (TTM)</h4>
            <label for="trailingPEMin">Minimum: </label>
            <input type="text" name="trailingPEMin">
            <label for="trailingPEMax">Maximum: </label>
            <input type="text" name="trailingPEMax">
        </div>

        <div class="entryOption">
            <h4 class="subtitle">Price/Sales (TTM)</h4>
            <label for="priceToSalesTrailing12MonthsMin">Minimum: </label>
            <input type="text" name="priceToSalesTrailing12MonthsMin">
            <label for="priceToSalesTrailing12MonthsMax">Maximum: </label>
            <input type="text" name="priceToSalesTrailing12MonthsMax">
        </div>

        <div class="entryOption">
            <h4 class="subtitle">Profit Margins</h4>
            <label for="profitMarginsMin">Minimum: </label>
            <input type="text" name="profitMarginsMin">
            <label for="profitMarginsMax">Maximum: </label>
            <input type="text" name="profitMarginsMax">
        </div>

        <div class="entryOption">
            <h4 class="subtitle">Book Value</h4>
            <label for="bookValueMin">Minimum: </label>
            <input type="text" name="bookValueMin">
            <label for="bookValueMax">Maximum: </label>
            <input type="text" name="bookValueMax">
        </div>

        <div class="entryOption">
            <h4 class="subtitle">Price/Book</h4>
            <label for="priceToBookMin">Minimum: </label>
            <input type="text" name="priceToBookMin">
            <label for="priceToBookMax">Maximum: </label>
            <input type="text" name="priceToBookMax">
        </div>

        <div class="entryOption">
            <h4 class="subtitle">Trailing EPS</h4>
            <label for="trailingEpsMin">Minimum: </label>
            <input type="text" name="trailingEpsMin">
            <label for="trailingEpsMax">Maximum: </label>
            <input type="text" name="trailingEpsMax">
        </div>

        <div class="entryOption">
            <h4 class="subtitle">Quick Ratio</h4>
            <label for="quickRatioMin">Minimum: </label>
            <input type="text" name="quickRatioMin">
            <label for="quickRatioMax">Maximum: </label>
            <input type="text" name="quickRatioMax">
        </div>

        <div class="entryOption">
            <h4 class="subtitle">Current Ratio</h4>
            <label for="currentRatioMin">Minimum: </label>
            <input type="text" name="currentRatioMin">
            <label for="currentRatioMax">Maximum: </label>
            <input type="text" name="currentRatioMax">
        </div>


        <div class="entryOption">
            <h4 class="subtitle">Debt to Equity</h4>
            <label for="debtToEquityMin">Minimum: </label>
            <input type="text" name="debtToEquityMin">
            <label for="debtToEquityMax">Maximum: </label>
            <input type="text" name="debtToEquityMax">
        </div>

        <div class="entryOption">
            <h4 class="subtitle">Revenue Per Share</h4>
            <label for="revenuePerShareMin">Minimum: </label>
            <input type="text" name="revenuePerShareMin">
            <label for="revenuePerShareMax">Maximum: </label>
            <input type="text" name="revenuePerShareMax">
        </div>

        <div class="entryOption">
            <h4 class="subtitle">Return on Assets (ROA)</h4>
            <label for="returnOnAssetsMin">Minimum: </label>
            <input type="text" name="returnOnAssetsMin">
            <label for="returnOnAssetsMax">Maximum: </label>
            <input type="text" name="returnOnAssetsMax">
        </div>


        <div class="entryOption">
            <h4 class="subtitle">Return on Equity (ROE)</h4>
            <label for="returnOnEquityMin">Minimum: </label>
            <input type="text" name="returnOnEquityMin">
            <label for="returnOnEquityMax">Maximum: </label>
            <input type="text" name="returnOnEquityMax">
        </div>

        <div class="entryOption">
            <h4 class="subtitle">Earnings Growth</h4>
            <label for="earningsGrowthMin">Minimum: </label>
            <input type="text" name="earningsGrowthMin">
            <label for="earningsGrowthMax">Maximum: </label>
            <input type="text" name="earningsGrowthMax">
        </div>

        <div class="entryOption">
            <h4 class="subtitle">Revenue Growth</h4>
            <label for="revenueGrowthMin">Minimum: </label>
            <input type="text" name="revenueGrowthMin">
            <label for="revenueGrowthMax">Maximum: </label>
            <input type="text" name="revenueGrowthMax">
        </div>

        <div class="entryOption">
            <h4 class="subtitle">Gross Margins</h4>
            <label for="grossMarginsMin">Minimum: </label>
            <input type="text" name="grossMarginsMin">
            <label for="grossMarginsMax">Maximum: </label>
            <input type="text" name="grossMarginsMax">
        </div>

        <div class="entryOption">
            <h4 class="subtitle">Operating Margins</h4>
            <label for="operatingMarginsMin">Minimum: </label>
            <input type="text" name="operatingMarginsMin">
            <label for="operatingMarginsMax">Maximum: </label>
            <input type="text" name="operatingMarginsMax">
        </div>
        </div>

        <br>

        <input type="submit" id="submit" value="Submit">
    </form>

    <div class="footer">
        <p>* Disclaimer: This is just a resource and should not be used as investment advice.
            The creators, hosts, and anyone else related to this site are not liable for any
            losses that may incur.
        </p>
    </div>
</body>

<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script type="text/javascript">
  $(document).ready(function() {
  $("#submit").click(function(e){
	 var jsonData = {};
	 
   var formData = $("#myform").serializeArray();
   console.log(formData);
   
   $.each(formData, function() {
        if (jsonData[this.name]) {
           if (!jsonData[this.name].push) {
               jsonData[this.name] = [jsonData[this.name]];
           }
           jsonData[this.name].push(this.value || '');
       } else {
           jsonData[this.name] = this.value || '';
       }
	       
	   
   });
   console.log(jsonData);
	$.ajax(
	{
		url : '{% url "dataHandler:ReturnedData"  %}',
		type: "POST",
		data : jsonData,
		
	});
    e.preventDefault();	
});
});
</script>

</html>